*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #0f3563;
    color: #fff;
    padding: 1rem;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
    width: 200px;
}


nav{
    display: flex;
    justify-content: space-around;
    

}
a{
    display: flex;
    text-decoration: none;
    color: #fff;
}

#carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}
#container{
   
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
#container img{
    object-fit: cover;
    max-width: 100vw;
}
#orcamento{
    background-color:#f77f00;
    padding: 1rem;
    border-radius: 5px;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor:pointer ;
}
footer{
    display: flex;
    justify-content: space-around;
}
.teste{
    background-color: #0f3563;
    padding: 1rem;
    
}
