* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
    color: #514438;
}


.aba_calc{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 15px;
    height: 150px;
    border-radius: 0px 2px 2px 0px;
    background-color: #514438;
    cursor: pointer;
    color:white;
    

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24


}

.calc {
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -220px;
    top: 0px;

}
span{
    color: wheat;
}

.calc_exibir{
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;

}


.div_nome {
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_teclas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
    background-color: #F29F05;
    border: 2px solid #442d03;
    border-radius: 0px 0px 5px 5px;



}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D97904;
    border: 3px solid #F2BB13;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 1px 3px #442d03;

}

.tecla:hover {
    background-color: crimson;

}

/* Display */
.div_display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    border-radius: 5px;




}

.display {
    width: 220px;
    text-align: right;
    background-color: #f9d28a;
    padding: 5px;
    font-family: monospace;
    border: 2px solid #442d03;
    border-radius: 5px 5px 0px 0px;
}